<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="laTrompaCaching"
				 type="LaTrompa.Caching.LaTrompaCachingConfigurationSectionHandler, LaTrompa"/>
  </configSections>
  
  <laTrompaCaching>
    <memoryCache>
      <enabled>true</enabled>
    </memoryCache>
    <dbCache>
      <enabled>false</enabled>
      <tableName>LaTrompaDbCache</tableName>
      <connectionString>server=dbdev.sureflix.com;Trusted_Connection=false;database=GMNDB;uid=GMNUser;pwd=sup3rfr!3ndly</connectionString>
    </dbCache>
  </laTrompaCaching>
</configuration>