<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
		<bufferSize value="100" />
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<connectionString value="server=dbdev.sureflix.com;Trusted_Connection=false;database=GMNDB;uid=GMNUser;pwd=sup3rfr!3ndly" />
		<commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message],[Exception],[Domain],[Page],[RequestData],[ServerIP],[Lang]) 
					 VALUES (@log_date, @thread, @log_level, @logger, @message, @exception,
					 @domain,@page,@requestData,@serverIP,@language)"/>
		<parameter>
			<parameterName value="@log_date" />
			<dbType value="DateTime" />
			<layout type="log4net.Layout.RawTimeStampLayout" />
		</parameter>
		<parameter>
			<parameterName value="@thread" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%thread" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@log_level" />
			<dbType value="String" />
			<size value="50" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%level" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@logger" />
			<dbType value="String" />
			<size value="255" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%logger" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@message" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@exception" />
			<dbType value="String" />
			<size value="2000" />
			<layout type="log4net.Layout.ExceptionLayout" />
		</parameter>
		<parameter>
			<parameterName value="@domain" />
			<dbType value="String" />
			<size value="100" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{domain}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@page" />
			<dbType value="String" />
			<size value="100" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{page}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@requestData" />
			<dbType value="String" />
			<size value="600" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{requestData}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@serverIP" />
			<dbType value="String" />
			<size value="15" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{serverIP}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@language" />
			<dbType value="String" />
			<size value="2" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{language}" />
			</layout>
		</parameter>
	</appender>


	<appender name="DataChanges" type="log4net.Appender.AdoNetAppender">
		<bufferSize value="100" />
		<connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
		<connectionString value="server=dbdev.sureflix.com;Trusted_Connection=false;database=GMNDB;uid=GMNUser;pwd=sup3rfr!3ndly" />
		<commandText value="INSERT INTO [GMNDB].[dbo].[ChangeLogTracker] ([Owner] ,[Page] ,[Table] ,[SQLText]) VALUES (@Owner, @Page,@Table,@SQLText)" />
		<parameter>
			<parameterName value="@Owner" />
			<dbType value="String" />
			<size value="10" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{Owner}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@Page" />
			<dbType value="String" />
			<size value="100" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{Page}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@Table" />
			<dbType value="String" />
			<size value="100" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{Table}" />
			</layout>
		</parameter>
		<parameter>
			<parameterName value="@SQLText" />
			<dbType value="String" />
			<size value="4000" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%property{SQLText}" />
			</layout>
		</parameter>
	</appender>

	<root>
		<level value="All" />
		<appender-ref ref="AdoNetAppender" />
	</root>

	<logger name="NUnit" additivity="false">
		<level value="Off" />
	</logger>

	<logger name="NHibernate" additivity="false">
		<level value="Off" />
		<appender-ref ref="AdoNetAppender" />
	</logger>

	<logger name="DataChanges" additivity="false">
		<level value="All" />
		<appender-ref ref="DataChanges" />
	</logger>
</log4net>