<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="ConnectionString" connectionString="data source=.\SQLEXPRESS;Integrated Security=True;AttachDBFilename=C:\Development\Code\Talks\BDD\Rescue\Web\App_Data\aspnetdb.mdf;User Instance=true" />
    </connectionStrings>
</configuration>